form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
}

h1{
    margin-top: 30px;
    color: rgb(5,102,22);
    text-align: center;
}

.color{
    color: rgb(5,102,22);
}

input{
    margin-top: 10px;
}

.alert{
    margin-top: 30px;
    text-align: center;
    color:red;
}

.center{
    margin-top: 20px;
    text-align: center;
}