form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
}

h1{
    margin-top: 30px;
    color: rgb(5,102,22);
    text-align: center;
}

.color{
    color: rgb(5,102,22);
}

input{
    margin-top: 10px;
}

.alert{
    margin-top: 30px;
    text-align: center;
    color:red;
}

.center{
    margin-top: 20px;
    text-align: center;
}

.ftab{
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}

.massage{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.sender{
    font-weight: 500;
    font-size: larger;
}