{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}
    <p>
        {% if session.get("user_id") %}
        <h1>MyLittleChat</h1>
        <h3 class="center">Hi {{username}}!</h3>
        {% else %}
        <h1>Welcome to MyLittleChat</h1>
        <p class="center">Please login or register</p>
        <div class="d-grid gap-2 d-md-block">
            <a href="/login" class="mx-auto col-3"><button class="btn btn-primary col-12" type="button">Login</button></a>
            <a href="/signup" class="mx-auto col-3"><button class="btn btn-primary col-12" type="button">Sign up</button></a>
          </div>
        {% endif %}
    </p>
{% endblock %}