{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <h1>Login to MyLittleChat</h1>
    <p class="alert">{{massage}}</p>
    <form action="/login" method="POST">
        <input required name="username" type="text" class="form-control" placeholder="username" autocomplete="off">
        <input required name="password" type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="password">
        <div class="center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    <br>
    <div class="center">
        <p>or sign up</p>
        <a href="/signup"><button class="btn btn-primary">Sign up</button></a>
    </div>
    
{% endblock %}